@import "vars";

*{
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
html{
  font-family: $primaryFont;
}

.site-container{
  padding: 20px;
  background-color: $white;
  height: 80vh;

  p, span, li{
    font-size: 1.8rem;
    font-weight: 300;
  }

  div{
    margin-bottom: 20px;
  }

  @media #{$tablet}{
    padding: 25px;
  }
  @media #{$laptop}{
    width: 900px;
    margin: 0 auto;
  }
  @media #{$desktop}{
    width: 1200px;
  }
}
