@import "vars";

*{
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
html{
  font-family: $primaryFont;
}

.site-container{
  padding: 20px;
  background-color: $white;
  height: 80vh;

  p, span, li, button{
    font-size: 1.8rem;
    font-weight: 300;
  }

  div{
    margin-bottom: 20px;
  }

  button{
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: $primaryColor;
    color: $white;
  }


  .package-wrapper{
    @include display(flex);
    @include flex-direction(row);
    .single-package{
      margin: 10px;
      width: 250px;
      h2{
        background-color: $primaryColor;
        color: $white;
        padding: 10px;
        text-align: center;
        font-size: 2.75rem;
        font-weight: 300;
      }
      p{
        font-size: 1.8rem;
        &.price{
          // @include display(flex);
          // @include justify-content(flex-start);
          text-align: center;
        }
      }
    }
  }
  @media #{$tablet}{
    padding: 25px;
  }
  @media #{$laptop}{
    width: 900px;
    margin: 0 auto;
  }
  @media #{$desktop}{
    width: 1200px;
  }
}
